:root {
    --white: #f7fbfc;
    --light: #f9f7f7;
    --light-soft: #f3f3f3;
    --light-medium: #dbe2ef;
    --light-dark: #a8a8a8;

    --primary: #3f72af;
    --secondary: #00adb5;
    --danger: #ea5455;
    --warning: #ff6f3c;

    --dark: #00334e;
    --dark-medium: #393e46;
    --dark-light: #52616b;
}
