{% extends 'base.html.twig' %}

{% block title %}Test
{% endblock %}


{% block body %}
	<simple-greeting></simple-greeting>
	<a href="{{url('app_test')}}">Test</a>
	<a href="{{url('app_home')}}">Home</a>
{% endblock %}
