{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('info') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<h1>Reset your password</h1>

	<form method="post">
		<label for="identifier">Username or email</label>
		<input type="text" name="identifier" id="identifier">

		<div>
			<small>Enter your email address and we will send you a link to reset your password.</small>
			<button class="btn btn-primary">Send password reset email</button>
		</div>
	</form>


{% endblock %}
