{% block title %}Reset your password
{% endblock %}

{% block body %}

	{% for flash_error in app.flashes('info') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Reset your password</h1>

	<form method="post">
		<label for="password">Please enter a password</label>
		<input type="password" name="password" id="password">

		<label for="passwordConf">Confirm your password</label>
		<input type="password" name="passwordConf" id="passwordConf">

		<button type="submit" class="btn btn-primary">Reset password</button>
	</form>

{% endblock %}
