#verify-email-message,
#resend-link {
    margin-top: 30px;
    line-height: 24px;
    text-align: center;
}

#verify-email-message {
    color: var(--dark-medium);
    font-size: 13px;
}

#resend-link {
    color: var(--dark-light);
    font-size: 12px;

    a {
        cursor: pointer;
    }
}
