{% extends 'layout-auth.html.twig' %}

{% block title %}Login
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block formTitle %}Welcome back{% endblock %}
{% block formSubtitle %}Enter your credentials to access the platform{% endblock %}

{% block body %}

	<form method="post">
	
		<div class="inputs">
			<form-input id="identifier" name="identifier" type="text" icon="user" placeholder="Enter your email or username"></form-input>
			<form-input id="password" name="password" type="password" icon="lock" placeholder="Enter your password"></form-input>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		</div>

		<button class="btn btn-lg btn-primary" type="submit">Sign in</button>

		<a id="forgot-password" href="{{url('app_forgot_password_request')}}">Forgot password</a>
	</form>
{% endblock %}

{% block additional_info %}
<p>Don't have an account yet ? <a href="{{url('auth_register')}}">Sign up</a></p>
{% endblock %}
