{% extends 'layout-auth.html.twig' %}

{% block title %}Register
{% endblock %}

{% block formTitle %}Sign up to Notice{% endblock %}
{% block formSubtitle %}Lets see how Notice can help you stay informed{% endblock %}

{% block body %}

	<form method="post">
		<div class="inputs">
			<form-input id="username" name="username" type="text" icon="user" placeholder="Choose a username"></form-input>
			<form-input id="email" name="email" type="email" icon="mail" placeholder="Enter your email"></form-input>
			<form-input id="password" name="password" type="password" icon="lock" placeholder="Enter your password"></form-input>
			<form-input id="passwordConf" name="passwordConf" type="password" icon="lock" placeholder="Confirm your password"></form-input>
		</div>

		<button class="btn btn-lg btn-primary" type="submit">Sign up</button>
	</form>
{% endblock %}

{% block additional_info %}
<p>Already have an account ? <a href="{{url('auth_login')}}">Sign in</a></p>
{% endblock %}

