{% extends 'layout-auth.html.twig' %}

{% block title %}Verify your email{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('verification') }}
{% endblock %}

{% block formTitle %}Email sent{% endblock %}
{% block formSubtitle %}Check your email inbox to verify your account{% endblock %}

{% block body %}
    <p id="verify-email-message">Thanks for joining Notice! We just sent you a verification link by email. Click the link to fully use the platform.</p>
    <p id="resend-link">Didn't receive the email? Click <a>here</a> to resend it.</p>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('verification') }}
{% endblock %}