{% extends 'layout.html.twig' %}

{% block title %}Feed
{% endblock %}


{% block body %}

	<h1>Feed</h1>

	<div>
		{# <notification-dropdown></notification-dropdown> #}
		<a id="empty-notification-preferences-link" href="http://127.0.0.1:8080/hashtags">Update Preferences</a>
		{% for i in 0..50 %}
			<p>bonjour</p>
		{% endfor %}
	</div>
{% endblock %}
