{% extends 'navbar-layout.html.twig' %}

{% block title %}Feed
{% endblock %}


{% block page %}

	<h1>Feed</h1>

	<div>
		{% for i in 0..1000 %}
			<p>bonjour</p>
		{% endfor %}
	</div>
{% endblock %}
